body,
html {
  margin: 0;
  padding: 0;
  background-color: #d0d7ce;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li {
  flex: 0 0 auto;
  margin: 0.5rem;
}

.fruitbowl {
  width: 500px;
  margin: 50px auto 20px;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-wrapper {
  text-align: center;
  padding: 100px;
}

.product-info {
  margin-top: 0.5rem;
}

.product-image {
  width: 200px;
}

.admin-button {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.admin-button:focus {
  outline: none;
}

.admin-button svg {
  fill: #939d90;
  width: 24px;
  height: 24px;
}
