body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #d0d7ce;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  flex: 0 0 auto;
}

.fruitbowl {
  width: 500px;
  margin: 50px auto 20px;
}

.product-list {
  list-style-type: none;
  padding: 0;
}

.product-wrapper {
  padding: 30px;
}

.product-info {
  margin-top: 0.5rem;
}

.product-image {
  width: 200px;
}

.admin-button {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 5px;
  background: none;
  border: none;
}

.admin-button:focus {
  outline: none;
}

.admin-button svg {
  fill: #939d90;
  width: 24px;
  height: 24px;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  margin: 6px;
  padding: 6px;
  border-radius: 5px;
}
