.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.cart-item .product-image {
  width: 50px;
  margin-right: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.increment-button,
.decrement-button {
  margin: 10px;
}

.increment-button {
  background-color: #7aad7b;
  color: white;
  border: none;
  cursor: pointer;
}

.empty-cart {
  text-align: center;
  font-style: italic;
}

.total-display {
  margin-top: 20px;
}

.pay-button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #cacbc1;
  border: 1px solid #d9d9d9;
}

.pay-button:hover {
  background-color: #dcdcdc;
}

.modal-dialog {
  width: 400px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
}

.modal-content {
  min-height: 100vh;
}

.increment-button,
.decrement-button {
  margin-top: 20px;
  font-size: 0.5em;
  min-height: 20px;
}

.quantity {
  margin-top: 15px;
  min-height: 20px;
}

.form-spacing {
  margin-bottom: 30px;
}

.cart-button svg {
  fill: #4e6d4e;
}
