.modal-style {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  height: 100vh;
  overflow-y: auto;
}

.modal-container {
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  width: 50%;
  max-width: 400px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  align-self: flex-end;
  border: none;
  background: none;
  font-size: large;
  cursor: pointer;
}

.cart-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.cart-item h4 {
  flex: 1;
}

.product-image-large {
  width: 300px;
}

.cart-item .product-image {
  width: 50px;
  margin-right: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.increment-button,
.decrement-button {
  margin: 5px;
}

.empty-cart {
  text-align: center;
  font-style: italic;
}

.total-display {
  margin-top: 20px;
}

.pay-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #93987f;
  color: rgb(246, 246, 246);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
