.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-img-small {
  width: 80px;
  height: auto;
}

.text-value {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  margin-right: 1rem;
}
